global:
 resolve_timeout: 1m
 smtp_require_tls: False

route:
  group_by:
  - '...'
  receiver: 'email'
  routes:
  - match:
      severity: email
    receiver: email

receivers:
- name: 'email'
  email_configs:
    - to: '{{ receiving_email }}'
      from: '{{ sending_email }}'
      smarthost: smtp.gmail.com:587
      auth_username: '{{ sending_email }}'
      auth_identity: '{{ sending_email }}'
      auth_password: '{{ sending_email_pass }}'
      send_resolved: true
