global:
 resolve_timeout: 1m

route:
 receiver: 'email'

receivers:
- name: 'email'
  email_configs:
    - to: '{{ email }}'
      from: '{{ email }}'
      smarthost: smtp.gmail.com:587
      auth_username: '{{ email }}'
      auth_identity: '{{ email }}'
      auth_password: '{{ email_pass }}'
