{{ ansible_managed | comment }}

groups:
- name: alerting rules
  rules:
  - alert: InstanceDown 
    expr: "up == 0"
    for: 10m
    labels:
      severity: critical
    annotations:
      summary: "{% raw %}Server is down!{% endraw %}"
      description: "{% raw %}Could not reach instance for 5 min on instance {{ $labels.instance }}.{% endraw %}"
  - alert: Personal Website Health Check Failed
    expr: probe_http_status_code{job="personal website app"} == 200
    for: 5m
    labels:
      severity: email
    annotations:
      summary: "{% raw %}Personal Website /health route not responding.{% endraw %}
      description: "{% raw %}Personal Website /health route not responding for 5 minutes.{% endraw %}
