global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

rule_files:
  - {{ prometheus_config_dir }}/rules/ansible_managed.rules

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

scrape_configs:
  - job_name: 'personal website node'
    scrape_interval: 5s
    static_configs:
      - targets: ['67.205.155.29:1994']
        labels:
          service: 'personal-website'
          severity: 'email'

  - job_name: 'personal website app'
    metrics_path: /probe
    params:
      module: [http_2xx]
    scrape_interval: 5s
    static_configs:
      - targets: ['https://jackmitchellfordyce.com/health']
        labels:
          service: 'personal-website'
          severity: 'email'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115  # The blackbox exporter's real hostname:port.

  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'
          severity: 'email'
